// nextflow.config

profiles {
  conda {
    process.conda = "/Users/christophertarkaa/sars-cov2-project/environment.yml" 
    conda.useMamba = true  // Optional: Use Mamba for faster environment setup 
  }
}

process {
  withLabel: process_low {
    cpus = 2
    memory = '4 GB'
    conda = "/Users/christophertarkaa/sars-cov2-project/environment.yml"  
  }

  withLabel: process_medium {
    cpus = 4
    memory = '8 GB'
    conda = "/Users/christophertarkaa/sars-cov2-project/environment.yml"  
  }

  withLabel: process_high {
    cpus = 7
    memory = '16 GB'
    conda = "/Users/christophertarkaa/sars-cov2-project/environment.yml"  
  }
}
